/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100%;
  background: linear-gradient(#9bf8ab, #082a68, fuchsia);
  /* background: linear-gradient(#9bf8ab, #082a68,rgb(0, 255, 34)); Teal to forest green */
  /* Teal to forest green */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Prevents overflow of bubbles */
  position: relative;
  /* Necessary for absolute positioning of bubbles */
}

/* Create the bubbles */
@keyframes bubble-animation {
  0% {
    transform: translateY(0) scale(0.3);
    opacity: 0.8;
  }

  100% {
    transform: translateY(-100vh) scale(1);
    opacity: 0;
  }
}

.bubble {
  position: absolute;
  bottom: -50px;
  /* Start the bubble just outside the bottom of the screen */
  width: 20px;
  /* Smaller bubbles */
  height: 20px;
  /* Smaller bubbles */
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  animation: bubble-animation linear infinite;
  pointer-events: none;
}

/* Additional randomness for each bubble's animation */
.bubble:nth-child(odd) {
  animation-duration: 8s;
  animation-delay: -4s;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

.bubble:nth-child(even) {
  animation-duration: 6s;
  animation-delay: -2s;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

.bubble:nth-child(3n) {
  animation-duration: 7s;
  animation-delay: -3s;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

/* Container Styles */
.cantainer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(#9bf8ab, #082a68, fuchsia);
  /* Teal to forest green */
  /* background: linear-gradient( #9bf8ab, #082a68,#20db40);  */

  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  /* Ensure that the card is above the bubbles */
}